.has-warning .control-label
    color: darken(theme-color("warning"), $theme-color-interval * 2)

.has-error .control-label
    color: $form-feedback-invalid-color

.has-success .control-label
    color: $form-feedback-valid-color